<h1 class="ui header">Angular-table</h1>
<div class="ui divider"></div>

<div ng-controller="angTableCtrl">
  <angular-table model="data" filter-query-model="filterQuery" default-sort-column="id" ng-if="data">
      <header-row>
          <header-column sortable="true" sort-field-name="name">
              Name
          </header-column>
          <header-column sortable="true" sort-field-name="name">
              Nutrients
          </header-column>
      </header-row>

      <row on-selected="handleRowSelection(row)" selected-color="#87cefa" even-color="#ffffff" odd-color="#eeeeee">
          <column>{{ row.name }}</column>
          <column>{{ row.nutrients }}</column>
      </row>
  </angular-table>
</div>
