.angularTableContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.angularTableHeaderTableContainer {
    width: 100%;
    height: 32px;
}

.angularTableTableContainer {
    width: 100%;
    overflow-y: auto;
}

.angularTableHeaderTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.angularTableTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.angularTableHeaderRow {

}

.angularTableRow {
    cursor: pointer;
}

.angularTableHeaderColumn {
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.angularTableColumn {
    padding: 5px;
    border: 1px solid black;
}

.angularTableDefaultSortArrowAscending {
    width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
    display: inline-block;
    vertical-align: middle;
}

.angularTableDefaultSortArrowDescending {
    width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
    display: inline-block;
    vertical-align: middle;
}
