// *************************************
//
//   Application
//   -> Loader for stylesheets
//
// *************************************

@import "semantic-ui";
@import "base";
@import "angular_table";
@import "ng_grid";

.ngViewport {
  min-height: 500px!important;
}

.angularTableTableContainer {
  max-height: 500px!important;
}
