<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>GridComparison</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<body id="feed" ng-app="gridComparison">
  <div class="ui celled grid form" id="spinner">
    <div class="five wide middle column">
      <h2 class="ui header">
        Grid Comparison
      </h2>
      <div class="ui tabular filter menu">
        <a class="active item" data-tab="unread">Grids</a>
      </div>
      <div class="ui divided inbox selection list active tab" data-tab="unread">
        <a href="/angular-table" class="<%= "active" if action_name == "angular_table" %> item">
          <div class="left floated ui star rating"><i class="icon"></i></div>
          <div class="description">Angular-table</div>
        </a>
        <a href="/ng-grid" class="<%= "active" if action_name == "ng_grid" %> item">
          <div class="left floated ui star rating"><i class="icon"></i></div>
          <div class="description">Ng-grid</div>
        </a>
      </div>

      <div class="ui divider"></div>

    </div>
    <div class="eleven wide right column">
      <%= yield %>
    </div>
  </div>
</body>


</body>
</html>
